footer {
    background-image: url(./../images/zajdgnxsmeg-e1590956555206.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.footer-title {
    padding-bottom: 103px;
    padding-top: 90px;
    margin-bottom: 0;
}

.footer-nav {
    padding-top: 90px;
}