#about-us {
    background-image: url(./../images/bg45.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}

.about-title {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    padding-top: 105px;
    font-size: clamp(3rem, 2.636rem + 1.82vw, 4rem);
}

.history-img {
    position: relative;
    margin-left: 50px;
    width: clamp(18.75rem, 7.023rem + 58.64vw, 51rem);
}